<h1>Actor</h1>

<% actor_info = @actor%>
<p>Name: <%= actor_info.name%></p>

<p>Movies:</p>
<% actor_info.movies.each do |movie| %>
    <p><%= movie.title%></p>
    <p><%= link_to "See movie" , movie%></p>
<% end %>
