
<header id ="homepage_header">
<h1>Hi ! Welcome to Bollywood Movies Project</h1>
</header>
<div>
  <h2>This is a Introduction to Rails project.</h2>
  <h2>This application has information about 250 Movies.</h2>
  <h2> Additional info like Actor and Genre of movies is also available.</h2>
</div>